doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Administracion
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;") 
            h1 Solo Para Personal Autorizado!
            a(href="/login") Volver
            form(action="/medLogin", method="POST" style="display: flex; flex-direction: column; gap: 10px;")
                input(type="text", placeholder="Usuario", id="user")
                input(type="password", placeholder="Contraseña", id="pass")
                input(type="text", placeholder="Codigo", id="cod")
                div(style="display: flex; justify-content: center;")
                    button(type="submit") Iniciar Sesion