doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title A침adir Camas
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
         h1 A침adir una Cama al sistema
         form(action=`/Habit/anadirCam` method="POST" style="display: flex; flex-direction: column; gap: 1px;")
           label(for="Habitacion") Habitaci칩n donde alojar la cama: 
           select(name="Habitacion" required)
             each Habit in HabitsDisp
                 option(value=Habit.IDHab) Habitaci칩n #{Habit.IDHab} (#{Habit.Nombre})
           br       
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/Habitaciones") Cancelar