doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title A침adir Camas
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
         h1 A침adir una Cama al sistema
         form(action=`/Habit/anadirCam` method="POST")
           label(for="Habitacion") Habitaci칩n donde alojar la cama:
           select(name="Habitacion" required)
             each Habit in Habits
               - var camasDeHab = camas.filter(cama => cama.Habitacion === Habit.IDHab);
               if camasDeHab.length < 2
                 option(value=Habit.IDHab) Habitaci칩n #{Habit.IDHab} (#{Habit.Tipo}) - Camas: #{camasDeHab.length}
           button(type="submit") Guardar cambios
           a(href="/Habitaciones") Cancelar