doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Añadir Habitacion
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
         h1 Añadir Habitacion al sistema
         form(action=`/Habit/anadir` method="POST" id="formi" style="display: flex; flex-direction: column; gap: 1px;")
           label(for="Nombre") Nombre/Numero de la Habitacion: 
           input(type="text" name="Nombre" id="Nombre" required)
           br
           label(for="Tipo") Tipo de Habitacion:
           select(name="Tipo" required)
            each tipo in tipos
             option(value=tipo.IDTipo) #{tipo.Nombre}
           br
           label(for="Ala") Ala de la Habitacion: 
           select(name="Ala" required)
            each ala in alas
             option(value=ala.IDAla) #{ala.Nombre}
           br
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/Habitaciones") Cancelar
           script.
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const nomImp = document.getElementById('Nombre');
                 if (nomImp.value.length > 100) {
                   alert('El nombre no puede tener más de 100 caracteres.');
                   event.preventDefault();
                 }
                 });