mixin bar()
        link(href="/public/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT")
        div(class="Container-fluid text-center" style="border: 5px solid rgb(2, 131, 71) background: rgb(0, 201, 151)")
         header(class="d-flex flex-wrap justify-content-center py-3 mb-4")
            div(class="col-4")
             img(src="/public/Imagenes/Icons/Icono.png", alt="Logo")
            div(class="col-2 btn btn-success")
             a.btn.btn-success(href="/") Sistemas Hospitalarios Sudamericanos
            div(class="col btn btn-link")
             a.btn.btn-primary(href="/inPac") Pacientes
            div(class="col btn btn-link")
             a.btn.btn-primary(href="/Emergencias") Emergencias
            div(class="col btn btn-link")
             a.btn.btn-primary(href="/Habitaciones") Habitaciones