mixin bar()

    div(style ="background:rgb(29, 206, 167); padding: 1rem 0; border: 3px solid #ddd;")
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;")
            img(src="/Imagenes/Icons/Icono.png", alt="Logo")
            div(style="border: 6px solid #ddd; background: rgb(255, 255, 255); padding: 3px; padding-left: 10px; padding-right: 10px;") 
                p Hospitales 2
            div(style="border: 2px solid #ddd; background: rgb(124, 226, 206); padding: 5px;")
                a(href="/") Home
            div(style="border: 2px solid #ddd; background: rgb(124, 226, 206); padding: 5px;")
                a(href="/inPac") Pacientes
            div(style="border: 2px solid #ddd; background: rgb(124, 226, 206); padding: 5px;")
                a(href="/Emergencias") Emergencias
            div(style="border: 2px solid #ddd; background: rgb(124, 226, 206); padding: 5px;")
                a(href="/turnos") Turnos