doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Citas Medicas
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
         h1 Citas Medicas de: #{med.Usuario}
         table 
          tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
           th Paciente
           th Fecha 
           th Tipo de Cita
           each cita in citas
            tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
             td #{cita.pac.Nombre}
             td #{cita.Fecha}
             td #{cita.Tipo}
        div(class="Container-fluid text-center justify-content-center")      
         div(class="col btn btn-link" style="Padding-bottom: 40px;")
          a.btn.btn-warning(href=`/inPac`) Volver