doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Editar Usuario
         form(action=`/Users/${user.IDUser}/Editar` id="formi" method="POST" style="display: flex; flex-direction: column; gap: 1px;")
            label(for="Usuario") Usuario:
            input(type="text" name="Usuario" id="Usuario" style="width: 100%;" value=user.Usuario required)
            br
            label(for="Pass") Contrase침a:
            input(type="text" name="Pass" id="Pass" style="width: 100%;" value=user.Pass required)
            br
            label(for="Rol") Rol de usuario:
            select(name="Rol" required)
             option(value="Admin" selected=(user.Rol==='Admin') ) Admin
             option(value="Doctor" selected=(user.Rol==='Doctor') ) Doctor
             option(value="Enfermero" selected=(user.Rol==='Enfermero') ) Enfermero
             option(value="Recepcionista" selected=(user.Rol==='Recepcionista') ) Recepcionista
            br
            button(class="btn btn-primary" type="submit") Guardar cambios
            br
            a.btn.btn-warning(href="/Users") Cancelar
            script.
                //const USERS = !{JSON.stringify(Nusuarios)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                  const userImp = document.getElementById('User');
                  if (userImp.value.length > 20 || userImp.value.length < 6) {
                    alert('El usuario debe tener entre 6 y 20 caracteres');
                    event.preventDefault();
                  }
                  const passImp = document.getElementById('Pass');
                  if (passImp.value.length > 20) {
                    alert('La contrase침a no puede tener m치s de 20 caracteres.');
                    event.preventDefault();
                  }
                  if (passImp.value.length < 6) {
                    alert('La contrase침a no puede tener menos de 6 digitos.');
                    event.preventDefault();
                  }
                  /*if (userImp.value && USERS.includes((UserImp.value))) {
                   alert('El nombre de usuario ya esta ocupado.');
                   event.preventDefault();
                  }*/
                });