doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Editar Habitacion
         form(action=`/Habit/${hab.IDHab}/editar` id="formi" method="POST" style="display: flex; flex-direction: column; gap: 1px;")
           -var camasDeHab = camas.filter(cama => cama.Habitacion === hab.IDHab);
           label(for="Tipo") Tipo de Habitacion:
           select(name="Tipo" required)
             option(value="Urgencias" selected=(hab.Tipo === "Urgencias") ) Urgencias
             option(value="Quimioterapia" selected=(hab.Tipo === "Quimioterapia")) Quimioterapia
             option(value="Cirujia" selected=(hab.Tipo === "Cirujia") ) Cirujia
             option(value="Pediatria" selected=(hab.Tipo === "Pediatria") ) Pediatria
             option(value="Traumatologia" selected=(hab.Tipo === "Traumatologia") ) Traumatologia
             option(value="Ginecologia" selected=(hab.Tipo === "Ginecologia")) Ginecologia
             option(value="Neurologia" selected=(hab.Tipo === "Neurologia")) Neurologia
           br
           label(for="Ala") Ala de la Habitacion:
           input(type="number" name="Ala" value=hab.Ala required)
           br
           label Higenene:
            each cama in camasDeHab
             div
              span Cama #{cama.IDCamas}:
              select(name=`Higenizado_${cama.IDCamas}`)
               option(value="true" selected=(cama.Higenizado === true)) Si
               option(value="false" selected=(cama.Higenizado === false)) No
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/Habitaciones") Cancelar
           script.
                document.getElementById('formi').addEventListener('submit', function(event) {
                  const alaImp = document.getElementById('Ala');
                  if (alaImp.value.length > 4) {
                    alert('El Ala no puede tener más de 4 digitos.');
                    event.preventDefault();
                  }
                 });