doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Emergencias
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
          h1 EMERGENCIAS 
          h2 Añadir Datos Conocidos del Paciente
           form(action=`/Emergencias` method="POST" style="display: flex; flex-direction: column; gap: 1px;")
               br
               label(for="Nombre") Nombre:
               input(type="text" name="Nombre" value="John Doe" required)
               br
               label(for="Edad") Edad:
               input(type="number" name="Edad" value="0" required)
               br
               label(for="DNI") DNI:
               input(type="number" name="DNI" id="DNI" value="0")
               button(type="button" onclick="dehab()") Sin DNI
               script.
                 function dehab() {
                  const dni = document.getElementById('DNI');
                  if (dni.disabled) {
                    dni.value = '0';
                    dni.disabled = false;
                  } else {
                    dni.value = '';
                    dni.disabled = true;
                  }}
               br
               label(for="Genero") Genero:
                 select(name="Genero" required)
                   option(value="Masculino") Masculino
                   option(value="Femenino") Femenino
                   option(value="Otro") Otro
                   option(value="Desconocido") Desconocido
               br
               button(type="submit") Guardar y Asignar Cama
               br
               a(href="/inPac") Cancelar