doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Emergencias
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 100px;")
          h1 EMERGENCIAS 
          h2 Añadir Datos Conocidos del Paciente
          form(action=`/Emergencias` id="formi" method="POST" style="display: flex; flex-direction: column;")
               br
               label(for="Nombre") Nombre:
               input(type="text" name="Nombre" value="John Doe" required)
               br
               label(for="Edad") Fecha de Nacimiento:
               input(type="number" name="Edad" value="0" required)
               br
               label(for="DNI") DNI:
               input(type="number" name="DNI" id="DNI" value="0")
               button(type="button" onclick="dehab()") Sin DNI
               script.
                 function dehab() {
                  const dni = document.getElementById('DNI');
                  if (dni.disabled) {
                    dni.value = '0';
                    dni.disabled = false;
                  } else {
                    dni.value = '';
                    dni.disabled = true;
                  }}
               br
               label(for="Genero") Genero:
                 select(name="Genero" required)
                   option(value="Desconocido") Desconocido
                   option(value="Masculino") Masculino
                   option(value="Femenino") Femenino
                   option(value="Otro") Otro
               br
               label(for="Seguro") Seguro Medico:
                  select(for="Seguro" name="Seguro" required)
                    option(value="Desconocido") Desconocido
                    option(value="Ninguno") Ninguno
                    option(value="Privado") Privado
                    option(value="Publico") Publico
               br
               label(for="Telefono") Numero de Telefono: 
                input(Type="number" name="Telefono")
               br
               label(for="Direccion") Direccion de Domicilio: 
                input(Type="text" name="Direccion")
               br
               button(class="btn btn-primary" type="submit") Guardar y Asignar Cama
               br
               a.btn.btn-warning(href="/inPac") Cancelar
               script.
                const DNIs = !{JSON.stringify(dnis)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const dniInp = document.getElementById('DNI');
                 if (!dniInp.disabled && dniInp.value && DNIs.includes(Number(dniInp.value))) {
                  alert('El DNI ya está registrado.');
                  dniInp.value = '';
                  dniInp.disabled = true;
                  event.preventDefault();
                 }
                 if(dniInp.value.length === 0 && !dniInp.disabled) {
                  alert('introduzca un DNI o marque "Sin DNI".');
                  dniInp.value = '';
                  dniInp.disabled = true;
                  event.preventDefault();
                }
                 });