doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Emergencias
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
          h1 EMERGENCIAS 
          h2 Añadir Datos Conocidos del Paciente
          form(action=`/Emergencias` id="formi" method="POST" style="display: flex; flex-direction: column;")
               br
               label(for="Nombre") Nombre:
               input(type="text" name="Nombre" id="Nombre" value="John Doe" required)
               br
               label(for="Edad") Fecha de Nacimiento:
               input(type="number" name="Edad" id="Edad" value="0" required)
               br
               label(for="DNI") DNI:
               input(type="number" name="DNI" id="DNI" value="0")
               button(type="button" onclick="dehab()") Sin DNI
               script.
                 function dehab() {
                  const dni = document.getElementById('DNI');
                  if (dni.disabled) {
                    dni.value = '0';
                    dni.disabled = false;
                  } else {
                    dni.value = '';
                    dni.disabled = true;
                  }}
               br
               label(for="Genero") Genero:
                 select(name="Genero" required)
                   option(value="Desconocido") Desconocido
                   option(value="Masculino") Masculino
                   option(value="Femenino") Femenino
                   option(value="Otro") Otro
               br
               label(for="Seguro") Seguro Medico:
                  select(for="Seguro" name="Seguro" required)
                    option(value="Desconocido") Desconocido
                    option(value="Ninguno") Ninguno
                    option(value="Privado") Privado
                    option(value="Publico") Publico
               br
               label(for="Telefono") Numero de Telefono: 
                input(Type="number" name="Telefono" id="Telefono" maxlength="10")
               br
               label(for="Direccion") Direccion de Domicilio: 
                input(Type="text" name="Direccion" id="Direccion")
               br
               button(class="btn btn-primary" type="submit") Guardar y Asignar Cama
               br
               a.btn.btn-warning(href="/inPac") Cancelar
               script.
                const DNIs = !{JSON.stringify(dnis)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const dniInp = document.getElementById('DNI');
                 const nomImp = document.getElementById('Nombre');
                 const edImp = document.getElementById('Edad');
                 const hoy = new Date().getFullYear();
                 const dirImp = document.getElementById('Direccion');
                 const telInp = document.getElementById('Telefono');
                 if (!dniInp.disabled && dniInp.value && DNIs.includes(Number(dniInp.value))) {
                  alert('El DNI ya está registrado.');
                  event.preventDefault();
                 }
                 if (telInp.value.length > 10) {
                  alert('El número de teléfono no puede tener más de 10 dígitos.');
                  event.preventDefault();
                 }
                 if (telInp.value.length > 0 && telInp.value.length < 10) {
                  alert('El número de teléfono debe tener 10 dígitos o estar vacío.');
                  event.preventDefault();
                 }
                 if (edImp.value < 1900 || edImp.value > hoy) {
                   alert('El año de nacimiento debe estar entre 1900 y ' + hoy + '.');
                   event.preventDefault();
                 }
                 if(dniInp.value.length === 0 && !dniInp.disabled) {
                  alert('introduzca un DNI o marque "Sin DNI".');
                  dniInp.value = '';
                  dniInp.disabled = true;
                  event.preventDefault();
                 }
                 if (nomImp.value.trim().length === 0) {
                   alert('El nombre no puede estar vacío.');
                   event.preventDefault();
                 }
                 if (nomImp.value.length > 100) {
                   alert('El nombre no puede tener más de 100 caracteres.');
                   event.preventDefault();
                 }
                 if (nomImp.value.search(/\d/) !== -1 || nomImp.value.search(/[^a-zA-Z\s]/) !== -1) {
                   alert('El nombre no puede contener números o simbolos');
                   event.preventDefault();
                 }
                if (dirImp.value.length > 250) {
                  alert('La dirección no puede tener más de 250 caracteres.');
                  event.preventDefault();
                }
                 });