doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title S.H.S.      
        style.
            .cursive-title {
                font-size: 70px;
                font-family: 'JetBrains Mono';
            }
        include bar.pug
        +bar()
        block content
        body(style="background: rgb(184, 253, 219);")
         .container-fluid.d-flex.align-items-center.justify-content-center
            .row.w-100
                .col.d-flex.align-items-center.justify-content-center
                  h1.cursive-title.text-center S.H.S.            
                .col-auto.d-flex.align-items-center.justify-content-end
                  img(src="/Imagenes/Icons/Caudecus.png" style="width: 810px; height: 800px; float: right;")