doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
            h1 Login
            form(action="/login", method="POST" style="display: flex; flex-direction: column; gap: 10px;")
                input(type="text", placeholder="Usuario", id="user")
                input(type="password", placeholder="Contraseña", id="pass")
                div(style="display: flex; justify-content: space-between; horizontal-align: center;")
                    a(href="/register") Registrarse
                    button(type="submit") Iniciar Sesion     
                    a(href="/Adm") Medicos             