doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Iniciar Sesion
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 95px;")
         h1 Iniciar Sesion
         form(action=`/Login` method="POST" id="formi" style="display: flex; flex-direction: column; gap: 1px;" )
           label(for="Usuario") Usuario:
            input(type="text" name="Usuario" id="Usuario" required autocomplete="off")
           br
           label(for="pass") Contraseña:
            input(type="text" name="pass" id="pass" required autocomplete="off")
           br
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/Home") Cancelar
           script.
                /*const USERS = !{JSON.stringify(Nusuarios)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                  const userImp = document.getElementById('Usuario');
                  if (userImp.value.length > 20) {
                    alert('El usuario no puede tener más de 20 caracteres.');
                    event.preventDefault();
                  }
                  const passImp = document.getElementById('pass');
                  if (passImp.value.length > 30) {
                    alert('La contraseña no puede tener más de 30 digitos.');
                    event.preventDefault();
                  }
                  if (passImp.value.length < 6) {
                    alert('La contraseña no puede tener menos de 6 digitos.');
                    event.preventDefault();
                  }
                  /*if (userImp.value && !USERS.includes((UserImp.value))) {
                   alert('El usuario no está registrado.');
                   event.preventDefault();
                  }*/
                  /*for (us in tUSERS) {
                   if (userImp.value === us.Usuario && passImp.value !== us.Pass) {
                    alert('Contraseña incorrecta.');
                    event.preventDefault();
                   }
                  }
                 });*/
