doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Medicos
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
            table 
             tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
                th Medico
                th Especialidad
                th Acciones
                 each user in USERS
                  - var spec = specs.find(spe => spe.IDEspecialidades === user.EspecialidadID);
                     tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
                      td= user.Usuario
                      td
                       span #{spec.Nombre}
                      td
                       a.btn.btn-info(href=`/CitasSelect/${user.IDUser}`) Citas del Doctor
