doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registrar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 95px;")
         h1 Registrar Usuario al sistema
         form(action=`/User/Register` method="POST" id="formi" style="display: flex; flex-direction: column; gap: 1px;" )
           label(for="User") Usuario:
            input(type="text" name="User" id="User" required)
           br
           label(for="pass") Contraseña:
            input(type="text" name="pass" id="pass" required)
           br
           label(for="Rol") Rol de usuario:
            select(name="Rol" required)
             option(value="Admin") Admin
             option(value="Doctor") Doctor
             option(value="Enfermero") Enfermero
             option(value="Recepcionista") Recepcionista
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/inPac") Cancelar
           script.
                const USERS = !{JSON.stringify(Nusuarios)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                  const userImp = document.getElementById('User');
                  if (userImp.value.length > 20) {
                    alert('El usuario no puede tener más de 20 caracteres.');
                    event.preventDefault();
                  }
                  if (userImp.value && USERS.includes((UserImp.value))) {
                   alert('El usuario ya está registrado.');
                   event.preventDefault();
                  }
                  const passImp = document.getElementById('pass');
                  if (passImp.value.length > 30) {
                    alert('La contraseña no puede tener más de 30 digitos.');
                    event.preventDefault();
                  }
                  if (passImp.value.length < 6) {
                    alert('La contraseña no puede tener menos de 6 digitos.');
                    event.preventDefault();
                  }
                  if (passImp.value.search(/[0-9]/) == -1 || passImp.value.search(/[a-z]/i) == -1 || passImp.value.search(/[A-Z]/i) == -1 || passImp.value.search(/[^a-zA-Z0-9]/) != -1) {
                    alert('La contraseña debe contener almenos un numero, una letra y un caracter especial.');
                    event.preventDefault();
                  }
                 });
