doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registrarse
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
            h1 Registrarse
            form(action="/register", method="POST" style="display: flex; flex-direction: column; gap: 10px;")
                input(type="text", placeholder="Nombre", id="nom")
                input(type="text", placeholder="Apellido", id="ape")
                input(type="text", placeholder="Edad", id="edad")
                input(type="text", placeholder="Sexo", id="sexo")
                input(type="password", placeholder="Contraseña", id="pass")
                input(type="password", placeholder="Confirmar Contraseña", id="pass2")
                div(style="display: flex; justify-content: center;")
                    button(type="submit") Registrarse
                    a(href="/login") Iniciar Sesion